@font-face {
  font-family: "iconfont"; /* Project id 4036462 */
  src: url('iconfont.woff2?t=1682337088910') format('woff2'),
       url('iconfont.woff?t=1682337088910') format('woff'),
       url('iconfont.ttf?t=1682337088910') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-happy:before {
  content: "\ed6b";
}

.icon-normal:before {
  content: "\ed77";
}

.icon-smile:before {
  content: "\ed78";
}

.icon-sad:before {
  content: "\ed81";
}

